@import "colors";

.card {
	background-color: transparentize($bg-color-2, .5);
	border-radius: 0 15px 0 15px;
	border-top: 5px solid $fg-color;
	border-right: 5px solid $fg-color;
	border-bottom: 0px solid transparent;
	border-left: 0px solid transparent;
	transition-duration: .25s;

	&:not(.no-hover) {
		&:hover {
			transform: translate(2.5px, -2.5px);
			box-shadow: 0 0 10px 5px $bg-color-2;
			transition-duration: .25s;
		}
	}

	&.disabled {
		color: darken($fg-color, 25%);
		border-top-color: darken($fg-color, 50%);
		border-right-color: darken($fg-color, 50%);
		background-color: transparentize($bg-color-2, .75);
	}
}

.card-2 {
	background-color: transparentize($bg-color-2, .5);
	transition-duration: .25s;
	border-radius: 15px;

	&:not(.no-hover) {
		&:hover {
			transform: translate(2.5px, -2.5px);
			box-shadow: 0 0 5px 2px $bg-color-2;
			transition-duration: .25s;
		}
	}
}