@import "colors";

.card {
	background-color: transparentize($bg-color-2, .5);
	border-radius: 0 15px 0 15px;
	border-top: 5px solid $fg-color;
	border-right: 5px solid $fg-color;
	border-bottom: 0px solid transparent;
	border-left: 0px solid transparent;

	&:not(.no-hover) {
		&:hover {
			box-shadow: 0 0 5px 2px $bg-color-darkish;
		}
	}
}