$bg-color: #15151e;
$bg-color-2: lighten($bg-color, 15%);
$fg-color: #eee;

$titlebar-color: #e10600;

$bg-color-darkish: darken($bg-color, 5%);
$bg-color-dark: darken($bg-color, 10%);

$renault-main: #f4df2a;
$renault-secondary: #000;

$mclaren-main: #fe9f00;
$mclaren-secondary: #0077e7;

$at-main: #181d25;
$at-secondary: #eee;

$rp-main: #feaedb;
$rp-secondary: #0c6df2;

$rb-main: #0c3db2;
$rb-secondary: #001a30;

