@import "colors";

input[type="text"],
input[type="password"] {
	background-color: $bg-color-dark;
	border: 2px solid transparentize($bg-color-dark, 0.5);
	padding: 10px;
	font-size: 12pt;
	color: $fg-color;
	border-radius: 5px;
	transition-duration: .25s;

	&:not(.sm) {
		min-width: 250px;
	}

	&:hover {
		border-color: transparentize($fg-color, 0.5);
	}

	&:active,
	&:focus,
	&.active {
		border-color: $fg-color;
		outline: none;
	}
}

button,
input[type="submit"],
.button {
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	background-color: $titlebar-color;
	transition-duration: .5s;
	border: 0px solid $titlebar-color;

	&:not(.small) {
		min-width: 125px;
	}

	&:hover {
		background-color: lighten($titlebar-color, 5%);
	}

	&:active,
	&.active {
		background-color: darken($titlebar-color, 15%);
	}

	&:disabled,
	&.disabled {
		background-color: $bg-color;
		border: 1px solid $titlebar-color;
		color: darken($fg-color, 25%);
	}
}