@import "colors";

input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"] {
	background-color: $bg-color-dark;
	border: 2px solid transparentize($bg-color-dark, 0.5);
	padding: 10px;
	font-size: 12pt;
	color: $fg-color;
	border-radius: 5px;
	transition-duration: .25s;

	&:not(.sm) {
		min-width: 250px;
	}

	&:hover {
		border-color: transparentize($fg-color, 0.5);
	}

	&:active,
	&:focus,
	&.active {
		border-color: $fg-color;
		outline: none;
	}

	&.error {
		border-color: red;
	}
}

input[type="select"],
select {
	background-color: $bg-color-dark;
	color: $fg-color;
	border: 2px solid transparentize($bg-color-dark, 0.5);
	border-radius: 5px;
	font-size: 12pt;
	padding: 10px;
	appearance: unset;
	-webkit-appearance: none;
}

button,
input[type="submit"],
.button {
	cursor: pointer;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	background-color: $titlebar-color;
	transition-duration: .5s;
	border: 0px solid $titlebar-color;
	

	&:not(.small) {
		min-width: 125px;
	}

	&:hover {
		background-color: lighten($titlebar-color, 5%);
	}

	&:active,
	&.active {
		background-color: darken($titlebar-color, 15%);
	}

	&:disabled,
	&.disabled {
		background-color: $bg-color;
		border: 1px solid $titlebar-color;
		color: darken($fg-color, 25%);
	}

	&.passive {
		background-color: $bg-color;
		border: 1px solid $titlebar-color;
		color: $fg-color;

		&:hover {
			background-color: lighten($bg-color, 5%);
		}
	}
}

textarea {
	border: 2px solid transparentize($bg-color-dark, 0.5);
	border-radius: 15px;
	background-color: $bg-color-dark;
	display: block;
	color: $fg-color;

	&.noresize {
		resize: none;
	}
}