@import "fonts";

@font-face {
	font-family: 'Neue Haas', sans-serif;
	src: url(£/fonts/nhaasgrotesktxpro-55rg.ttf) format('truetype');
	font-weight: 55;
	font-style: normal;
}

@font-face {
	font-family: 'Neue Haas', sans-serif;
	src: url(£/fonts/nhaasgrotesktxpro-56it.ttf) format('truetype');
	font-weight: 56;
	font-style: italic;
}

@font-face {
	font-family: 'Neue Haas', sans-serif;
	src: url(£/fonts/nhaasgrotesktxpro-75bd.ttf) format('truetype');
	font-weight: 75;
	font-style: normal;
}

@font-face {
	font-family: 'Neue Haas', sans-serif;
	src: url(£/fonts/nhaasgrotesktxpro-76bdit.ttf) format('truetype');
	font-weight: 76;
	font-style: italic;
}


.font-m {
	font-size: $font-m-height;
}

.font-l {
	font-size: $font-l-height;
}

.font-l2 {
	font-size: $font-l2-height,
}

.font-xl {
	font-size: $font-xl-height;
}

.font-xxl {
	font-size: $font-xxl-height;
}

.emoji {
	font-style: normal;
	font-family: sans-serif;
}

.italics  {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.bolder {
	font-weight: bolder;
}

.letter-spaceing-3 {
	letter-spacing: 3px;
}

i {
	&.f2-first {
		font-style: normal;
		color: #ffcc00;
	}

	&.f2-second {
		font-style: normal;
		color: #ff6600;
	}
}