@import "fonts";
@import "colors";

@font-face {
	font-family: 'Neue Haas';
	src: url(£/fonts/nhaasgrotesktxpro-55rg.ttf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Neue Haas';
	src: url(£/fonts/nhaasgrotesktxpro-56it.ttf);
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Neue Haas';
	src: url(£/fonts/nhaasgrotesktxpro-75bd.ttf);
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Neue Haas';
	src: url(£/fonts/nhaasgrotesktxpro-76bdit.ttf);
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Formula1 Display Regular';
	src: url(£/fonts/Formula1-Regular.otf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Formula1 Display Bold';
	src: url(£/fonts/Formula1-Bold.otf);
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Formula1 Display Wide';
	src: url(£/fonts/Formula1-Wide.otf);
	font-weight: 55;
	font-style: normal;
}

@font-face {
	font-family: 'Neue Haas Display';
	font-style: normal;
	font-weight: 100;
	src: local('Neue Haas Grotesk Display Pro 15 XXThin'), url(£/fonts/NeueHaasDisplayXXThin.woff) format('woff');
}
    

@font-face {
	font-family: 'Neue Haas Display';
	font-style: italic;
	font-weight: 100;
	src: local('Neue Haas Grotesk Display Pro 16 XXThin Italic'), url(£/fonts/NeueHaasDisplayXXThinItalic.woff) format('woff');
}
    

@font-face {
	font-family: 'Neue Haas Display';
	font-style: normal;
	font-weight: 200;
	src: local('Neue Haas Grotesk Display Pro 25 XThin'), url(£/fonts/NeueHaasDisplayXThin.woff) format('woff');
}
    

@font-face {
	font-family: 'Neue Haas Display';
	font-style: italic;
	font-weight: 200;
	src: local('Neue Haas Grotesk Display Pro 26 XThin Italic'), url(£/fonts/NeueHaasDisplayXThinItalic.woff) format('woff');
}
    

@font-face {
	font-family: 'Neue Haas Display';
	font-style: normal;
	font-weight: 300;
	src: local('Neue Haas Grotesk Display Pro 35 Thin'), url(£/fonts/NeueHaasDisplayThin.woff) format('woff');
}
    

@font-face {
	font-family: 'Neue Haas Display';
	font-style: italic;
	font-weight: 300;
	src: local('Neue Haas Grotesk Display Pro 36 Thin Italic'), url(£/fonts/NeueHaasDisplayThinItalic.woff) format('woff');
}

@font-face {
    font-family: 'Neue Haas Display';
    font-style: normal;
    font-weight: 400;
    src: local('Neue Haas Grotesk Display Pro 45 Light'), url(£/fonts/NeueHaasDisplayLight.woff) format('woff');
}

@font-face {
	font-family: 'Neue Haas Display';
	font-style: italic;
	font-weight: 400;
	src: local('Neue Haas Grotesk Display Pro 46 Light Italic'), url(£/fonts/NeueHaasDisplayLightItalic.woff) format('woff');
}

@font-face {
	font-family: 'Neue Haas Display';
	font-style: normal;
	font-weight: 500;
	src: local('Neue Haas Grotesk Display Pro 55 Roman'), url(£/fonts/NeueHaasDisplayRoman.woff) format('woff');
}
    

@font-face {
	font-family: 'Neue Haas Display';
	font-style: italic;
	font-weight: 500;
	src: local('Neue Haas Grotesk Display Pro 56 Roman Italic'), url(£/fonts/NeueHaasDisplayRomanItalic.woff) format('woff');
}
    

@font-face {
	font-family: 'Neue Haas Display';
	font-style: normal;
	font-weight: 600;
	src: local('Neue Haas Grotesk Display Pro 65 Medium'), url(£/fonts/NeueHaasDisplayMediu.woff) format('woff');
}
    

@font-face {
	font-family: 'Neue Haas Display';
	font-style: italic;
	font-weight: 600;
	src: local('Neue Haas Grotesk Display Pro 66 Medium Italic'), url(£/fonts/NeueHaasDisplayMediumItalic.woff) format('woff');
}
    

@font-face {
	font-family: 'Neue Haas Display';
	font-style: normal;
	font-weight: 700;
	src: local('Neue Haas Grotesk Display Pro 75 Bold'), url(£/fonts/NeueHaasDisplayBold.woff) format('woff');
}
    

@font-face {
	font-family: 'Neue Haas Display';
	font-style: italic;
	font-weight: 700;
	src: local('Neue Haas Grotesk Display Pro 76 Bold Italic'), url(£/fonts/NeueHaasDisplayBoldItalic.woff) format('woff');
}
    

@font-face {
	font-family: 'Neue Haas Display';
	font-style: normal;
	font-weight: 800;
	src: local('Neue Haas Grotesk Display Pro 95 Black'), url(£/fonts/NeueHaasDisplayBlack.woff) format('woff');
}
    

@font-face {
	font-family: 'Neue Haas Display';
	font-style: italic;
	font-weight: 800;
	src: local('Neue Haas Grotesk Display Pro 96 Black Italic'), url(£/fonts/NeueHaasDisplayBlackItalic.woff) format('woff');
}


.font-m {
	font-size: $font-m-height;
}

.font-ml {
	font-size: $font-ml-height;
}

.font-l {
	font-size: $font-l-height;
}

.font-l2 {
	font-size: $font-l2-height,
}

.font-xl {
	font-size: $font-xl-height;
}

.font-xxl {
	font-size: $font-xxl-height;
}

.font-xxxl {
	font-size: $font-3xl-height;
}

.font-f1 {
	font-family: 'Formula1 Display Regular', sans-serif;
}

.font-f1-wide {
	font-family: 'Formula 1 Wide', 'Formula 1', sans-serif;
}

.font-haas {
	font-family: 'Neue Haas';
}

h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: $font-xxl-height;
	font-weight: normal;
	font-family: 'Formula1 Display Regular', sans-serif;
}

h2 {
	font-size: $font-l-height;
	font-weight: bold;
	font-family: 'Neue Haas Display', sans-serif;
}

h3 {
	font-size: $font-ml-height;
	font-weight: bold;
	font-family: 'Neue Haas Display', sans-serif;
}

h4 {
	font-size: $font-m-height;
	font-weight: normal;
	font-family: 'Neue Haas Display', sans-serif;
}

.font-normal {
	font-weight: normal;
}

.font-semibold {
	font-weight: 500;
}

.font-bold {
	font-weight: bold;
}

.emoji {
	font-style: normal;
	font-family: sans-serif;
}

.italics  {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.bolder {
	font-weight: bolder;
}

.letter-spaceing-3 {
	letter-spacing: 3px;
}

i {
	&.f2-first {
		font-style: normal;
		color: #ffcc00;
	}

	&.f2-second {
		font-style: normal;
		color: #ff6600;
	}
}

.color-transparent {
	color: transparent;
}

.color-accent {
	color: $titlebar-color;
}