@font-face {
	font-family: 'Neue Haas', sans-serif;
	src: url(£/fonts/nhaasgrotesktxpro-55rg.ttf) format('truetype');
	font-weight: 55;
	font-style: normal;
}

@font-face {
	font-family: 'Neue Haas', sans-serif;
	src: url(£/fonts/nhaasgrotesktxpro-56it.ttf) format('truetype');
	font-weight: 56;
	font-style: italic;
}

@font-face {
	font-family: 'Neue Haas', sans-serif;
	src: url(£/fonts/nhaasgrotesktxpro-75bd.ttf) format('truetype');
	font-weight: 75;
	font-style: normal;
}

@font-face {
	font-family: 'Neue Haas', sans-serif;
	src: url(£/fonts/nhaasgrotesktxpro-76bdit.ttf) format('truetype');
	font-weight: 76;
	font-style: italic;
}