@import 'colors';
@import 'fonts';

html,
body {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Neue Haas', sans-serif;
	color: $fg-color;
	background-color: $bg-color;
	box-sizing: border-box;
	
	* {
		box-sizing: border-box;
	}
}

.main {
	width: 100%;
}

.center-container {
	display: grid;
	grid-template-rows: 1fr auto 1fr;
	grid-template-columns: 1fr auto 1fr;
}

.center-item {
	grid-row: 2;
	grid-column: 2;
}

.relative {
	position: relative;
}

.inline-block {
	display: inline-block;
}

.fill {
	width: 100%;
	height: 100%;
}

.fill-h {
	height: 100%;
}

.fill-w {
	width: 100%;
}

.grid {
	display: grid;
}

.grid-columns-4 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-columns-6 {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-rows-2 {
	grid-template-rows: 1fr 1fr;
}

.grid-rows-4 {
	grid-template-rows: 1fr 1fr 1fr 1fr;
}

.flex {
	display: flex;

	&.flex-vertical {
		flex-direction: column;
	}

	&.justify-center {
		justify-content: center;
	}

	&.align-center {
		align-items: center;
	}

	&.align-end {
		align-items: flex-end;
	}

	&.align-start {
		align-items: flex-start;
	}

	.flex-grow {
		flex-grow: 1;
	}
}

.color-red {
	color: red;
}

@for $i from 1 to 10 {
	$val: $i * 5;

	.width-#{$val} {
		width: $val + px;
	}

	.height-#{$val} {
		height: $val + px;
	}
}

@for $i from 1 to 21 {
	$val: $i * 50;

	.width-#{$val} {
		width: $val + px;
	}

	.height-#{$val} {
		height: $val + px;
	}
}

@for $i from 1 to 11 {
	$val: $i * 5;

	.margin-#{$val} {
		margin: $val + px;
	}

	.margin-t-#{$val} {
		margin-top: $val + px;
	}

	.margin-r-#{$val} {
		margin-top: $val + px;
	}
	
	.margin-l-#{$val} {
		margin-left: $val + px;
	}
	
	.margin-b-#{$val} {
		margin-bottom: $val + px;
	}
	
	.margin-h-#{$val} {
		margin-right: $val + px;
		margin-left: $val + px;
	}
	
	.margin-v-#{$val} {
		margin-top: $val + px;
		margin-bottom: $val + px;
	}

	.padding-#{$val} {
		padding: $val + px;
	}

	.padding-t-#{$val} {
		padding-top: $val + px;
	}

	.padding-r-#{$val} {
		padding-top: $val + px;
	}
	
	.padding-l-#{$val} {
		padding-left: $val + px;
	}
	
	.padding-b-#{$val} {
		padding-bottom: $val + px;
	}
	
	.padding-h-#{$val} {
		padding-right: $val + px;
		padding-left: $val + px;
	}
	
	.padding-v-#{$val} {
		padding-top: $val + px;
		padding-bottom: $val + px;
	}
}

.margin-fill-h {
	height: calc(100vh - 100px);
}