@import "colors";

table {

    > thead {
        border: 1px solid transparent;
        border-radius: 5px;
        background-color: transparentize($titlebar-color, 0.5);
        padding: 5px;

        th:not(:last-of-type) {
            border-right: 1px solid transparentize($fg-color, 0.5);
        }
    }

    > tbody {
        padding: 5px;

        > tr {
            border-bottom: 1px solid transparentize($fg-color, 0.5);
            
            > td {
                text-align: center;

                &:not(:last-of-type) {
                border-right: 1px solid transparentize($fg-color, 0.5);
                
                }
            }
        }
    }
}